
.container {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.image {
  height: 3.5rem;
  width: auto;
  object-fit: contain;
  transition: transform 0.5s ease;
}

.container:hover .image {
  transform: scale(1.05);
}
